@media screen and(max-width: 767px) {
  .contacts {
    display: none
  }
}


@media screen and (min-width: 768px) {

  .contscts__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--primary-decor-color);
    }

  }
  
  .contacts__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts__link:hover &,
    .contacts__link:focus & {
      fill: var(--primary-decor-color);
    }

  }
}

@media screen and (min-width:1200px) {
  .contacts {
    display: flex;
  }

  .contscts__item:not(:last-child) {
      margin-right: 40px;
      margin-bottom: 0;
    }
    
}
  