.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    background-size: cover;
    background-color: var(--secondary-dark-color);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
  }
  
  
  .hero__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }