.preference-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.preference-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.preference-list__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.preference-list__icon {
  height: 70px;
  width: 70px;
}

.preference-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.preference-list__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}