:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --white-color: #ffffff;
    --primary-lite-color: #f5f4fa;
    --secondary-lite-color: #f5f5f5;
    --third-lite-color: rgba(255, 255, 255, 0.6);
    --primary-dark-color: #000000;
    --secondary-dark-color: #2f303a;
    --primary-decor-color: #2196f3;
    --secondary-decor-color: #188ce8;
    --primary-border-color: #ececec;
    --secondary-border-color: #eeeeee;
    --icon-color: #afb1b8;
  }